<!DOCTYPE html>
<html>

<head>
    <title>DeadLine</title>
    {% include 'header.html' without context %}
    <style>
        #deadline {
            position: absolute;
            left: 50%;
            top: 60%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body class="bg-dark">

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">DeadLine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="schedule.php">日程表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">关于</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">您好，{{ user }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="logout.php" style="font-size: small;">登出</a>
            </li>
        </ul>
    </nav>



    <div id="deadline" ondblclick="window.location.href='schedule.php'"></div>


    <script>
        //let huntedPositon = 1400;
        let huntedPositon = window.innerWidth - 400;

        let sketch = function (p) {
            p.setup = function () {
                p.createCanvas(p.windowWidth-200, 300);
                p.noSmooth();
                p.strokeWeight(6);
                p.stroke(255);
                p.frameRate(10);
                p.deathImg = p.loadImage("{{ url_for('static', filename='img/death.png') }}");
                p.huntedImg = p.loadImage("{{ url_for('static', filename='img/sleeping.png') }}");
            };
            p.draw = function () {
                p.clear();
                p.line(10, 200, p.width-10, 200);

                if (p.frameCount % 21 == 0) {
                    
                    p.offSetHuntedImg ^= 32;
                }
                p.image(p.huntedImg, huntedPositon, 40, 200, 200, p.offSetHuntedImg, 0, 32, 32);


                {% for x in remaindDays %}
                if (p.frameCount % (8 + {{ loop.index }}) == 0) {
                        p.offSetDeathImg{{ loop.index }} ^= 32;
                }
                p.image(p.deathImg, huntedPositon-{{ x }}*200, 0, 200, 200, p.offSetDeathImg{{ loop.index }}, 0, 32, 32);
                {% endfor %}

            };

        };
        new p5(sketch, "deadline");
    </script>
</body>

</html>