<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap/4.5.3/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/p5.js/1.4.1/p5.min.js"></script>
    <style>
        @font-face {
            font-family: "ipix";
            src: url("{{ url_for('static', filename='import/IPix.ttf') }}");
        }
        * {
            font-family: ipix;
        }
    </style>