<!DOCTYPE html>
<html>

<head>
    <title>DeadLine</title>
    {% include 'header.html' without context %}

    <style>
        #sched {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            image-rendering: crisp-edges;/* for ff */
            image-rendering: pixelated;/* for chrome */
            image-rendering: optimizeSpeed;/* for old browser */
        }
    </style>
</head>

<body class="bg-dark">

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">DeadLine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="schedule.php">日程表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">关于</a>
            </li>
        </ul>
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="register.php">注册</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login.php">登录</a>
            </li>

        </ul>
    </nav>

    <img id="sched" src="{{ url_for('static', filename='img/sched.png') }}" height="250" width="250">





</body>

</html>