<!doctype html>
<html>

<head>
    <title>DeadLine</title>
    {% include 'header.html' without context %}
    <style>
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
        .form-signin .checkbox {
            font-weight: 400;
        }
        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="username"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>

</head>

<body class="text-center bg-dark">

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="ddl.php">DeadLine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">日程表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">关于</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="register.php">注册</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login.php">登录</a>
            </li>
        </ul>
    </nav>


    <form class="form-signin" method="post" style="width: 100%; max-width: 330px; margin: auto; padding-top:100px">
        <h2 class="h3 mb-3 font-weight-normal text-white">请 登 录</h2>
        <input type="username" id="inputUsername" name="user" autocomplete="off" class="form-control bg-dark text-white" placeholder="用户名" required
            autofocus>
        <input type="password" id="inputPassword" name="passwd" autocomplete="off" class="form-control bg-dark text-white" placeholder="密码" required>
        <br />
        <div id="infodiv" style="color: red;">{{ info }}</div>
        <br />
        <button class="btn btn-lg btn-primary btn-block bg-dark" type="submit">提交</button>
        <a class="text-white" style="font-size:12px;" href="/register.php">没有账号，去注册></a>
    </form>

    <div class="alert alert-dark" role="alert" style="position: fixed; bottom: -10px; left: 0; width: 100%;">
        <button type="button" class="close" data-dismiss="alert">×</button>
        This website uses <strong class="text-dark">cookies</strong> to provide you with the best browsing experience.
    </div>
   
</body>

</html>