<!doctype html>
<html>

<head>
    <title>DeadLine</title>
    {% include 'header.html' without context %}

    <style>
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }
    </style>

</head>

<body class="bg-dark">

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="ddl.php">DeadLine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">日程表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">关于</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="register.php">注册</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login.php">登录</a>
            </li>
        </ul>
    </nav>

    <form class="form-signin text-center" method="post"
        style="width: 100%; max-width: 330px; margin: auto; padding-top:100px">
        <h1 class="h3 mb-3 font-weight-normal text-white">注 册</h1>
        <input type="username" id="inputUsername" name="user" autocomplete="off" class="form-control bg-dark text-white"
            onblur="checkUsername()" placeholder="用户名" required autofocus>
        <br />
        <input type="password" id="inputPassword" name="passwd" autocomplete="off"
            class="form-control bg-dark text-white" placeholder="设置密码" required>
        <br />
        <div id="infodiv" style="color: red;">{{ info }}</div>
        <br />
        <button id="submitBtn" class="btn btn-lg btn-primary btn-block bg-dark" type="submit">提交</button>
        <a class="text-white" style="font-size:12px;" href="/login.php">已有账号，去登录></a>
    </form>

    <div class="alert alert-dark text-center" role="alert"
        style="position: fixed; bottom: -10px; left: 0; width: 100%;">
        <button type="button" class="close" data-dismiss="alert">×</button>
        This website uses <strong class="text-dark">cookies</strong> to provide you with the best browsing experience.
    </div>
    <script>
        var buff = '';
        $.ajaxSettings.async = false;

        function checkUsername() {
            var uname = document.getElementById("inputUsername").value;
            if (uname !== "" && uname !== buff) {
                if (uname.length < 20) {
                    buff = uname;
                    $.get("check-username.php", { "user": uname }, function (data) {
                        if (data === "ok") {
                            document.getElementById("submitBtn").disabled = false;
                            document.getElementById("infodiv").innerHTML = "";
                        } else {
                            document.getElementById("submitBtn").disabled = true;
                            document.getElementById("infodiv").innerHTML = "用户名已被占用!";
                        }
                    });
                }
                else{
                    document.getElementById("submitBtn").disabled = true;
                    document.getElementById("infodiv").innerHTML = "用户名太长了！应小于20字符。";
                }

            }
        }

    </script>
</body>

</html>