<!doctype html>
<html>

<head>
    <title>DeadLine</title>
    {% include 'header.html' without context %}

    <script src="https://cdn.staticfile.org/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
</head>

<body class="bg-dark">

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="ddl.php">DeadLine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">日程表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">关于</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">您好，{{ user }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="logout.php" style="font-size: small;">登出</a>
            </li>
        </ul>
    </nav>



    <div style="max-width: 1000px; margin: auto; margin-top: 50px">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">任务</th>
                    <th scope="col">日期</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody id="tasks">
                {% for i in tasks %}
                <tr class="task-record">
                    <th scope="row" class="task-id">{{ loop.index }}</th>
                    <td class="task-database-id" hidden>{{ i.id }}</td>
                    <td class="task-text">{{ i.value }}</td>
                    <td class="task-date">{{ i.ddl_date }}</td>
                    <td>
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#editModal"
                            onclick="edit(this)">修改</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addModal">新建</button>
    </div>


    <!--============== editModal ==============-->
    <!--============== editModal ==============-->
    <div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="editModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title text-dark">编辑</h5>
                </div>
                <div class="modal-body bg-light">
                    <form id="editform" method="post">
                        <input id="mod" name="mod" value="edit" hidden>
                        <input id="valueid" name="id" value="" hidden>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label text-dark">日期:</label>
                            <input type="text" class="form-control datepicker" name="date" id="task-date-edit" required>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label text-dark">任务:</label>
                            <input type="text" class="form-control" name="todo" id="task-text-edit" maxlength="100" required>
                        </div>
                        <div class="modal-footer bg-light">
                            <button type="submit" class="btn btn-danger mr-auto" data-dismiss="modal"
                                onclick="document.getElementById('mod').value='delete';editform.submit()">删除</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <!--============== addModal ==============-->
    <!--============== addModal ==============-->
    <div class="modal fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="addModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title text-dark">新建</h5>
                </div>
                <div class="modal-body bg-light">
                    <form action="schedule.php" method="post" id="addform">
                        <input name="mod" value="addnew" hidden>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label text-dark">日期:</label>
                            <input type="text" class="form-control datepicker" name="date" required>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label text-dark">任务:</label>
                            <input type="text" class="form-control" id="task-text-new" name="todo" required>
                        </div>
                        <div class="modal-footer bg-light">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayHighlight: true
        });
        function edit(obj) {
            $('#task-text-edit').val( $(obj).parent().siblings('td.task-text').html() );
            $('#task-date-edit').val( $(obj).parent().siblings('td.task-date').html() );
            $('#valueid').val( $(obj).parent().siblings('td.task-database-id').html() );
            console.log($(obj).parent().siblings('td.task-database-id').html())
        }

        var today = new Date();
        $('#tasks').find('.task-date').each(
            function() {
                taskDate = new Date($(this).html());
                if(taskDate - today < 0){
                    $(this).parents('.task-record').css('text-decoration','line-through').css('color','#AAAAAA');
                }
            }
        );


    </script>
</body>

</html>